/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

/* Testing */
.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.logo {
    height: 50px;
}

.heading {
    font-size: 28px;
    text-decoration: none;
    color: #A6192E; /* Dark Red Color */
    font-weight: bold;
}

.user-controls {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.logout-button img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* Sidebar and Main Container */
.main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.toolbar {
    width: 15vw;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
}

.toolbar-top, .toolbar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar-button {
    background-color: #999595;
    color: black;
    border: none;
    padding: 2vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vh;
    margin: 1vh 0;
    cursor: pointer;
    border-radius: 0.5vh;
    width: 80%;
}

/* Content and Boxes */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.welcome-box {
    background: #E7E4DB;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    max-width: 600px;
}

.welcome-box p {
    font-size: 18px;
    color: #333;
}

.new-project-box {
    background: #E7E4DB;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.new-project-box p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.new-project-box img {
    width: 50px;
    height: 50px;
}