{% extends 'layouts/base.html' %}  {% block content %}

<h3>Search by Tag</h3>
<div>
  Results of your search (if this was working)
</div>
{% endblock content %}


<!-- Task 9:
Secure coding principles:
-Design to fail securely - Error handling with the use of an appropriate pages.
- Logging and monitoring to alert of suspicious activity and failures.
Tests that would be implemented:
- Tag selected by user does not match tags provided by Azure AI; results in an error.
- Tag selected by user matches tags provided by Azure AI; results in a success.
- User does not select a tag upon upload; results in an error.
-->