{% extends 'base.html' %}

{% block title %}VivaMQ Classes{% endblock %}

{% block content %}
<div class="welcome-box">
    <h2>Classes</h2>
    <p>This is where we display a list of classes, based on userID and backend DB results.</p>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>
<div class="content-box">
    {% for class in classes %}
    <div class="link">
        <a class="button" href="{{ url_for('unit', class_id=class['code']) }}">{{ class['code'] }}</a>
        <a class="del-link" href="{{ url_for('delete_class', class_id=class['code']) }}">x</a>
    </div>
    {% endfor %}
    <div class="button-spacer"></div>
    <div class="add-button">
        <a href="{{ url_for('new_class')}}">Add New Class</a>
    </div>
</div>

<!-- Darkmode  -->
<script>
    if (localStorage.getItem('dark-mode') === 'enabled') {
        document.body.classList.add('dark-mode');
    }
</script>
{% endblock %}
