{% extends 'base.html' %}

{% block title %}Dashboard - VivaMQ{% endblock %}

{% block content %}
<div class="welcome-box">
    <h1>Dashboard</h1>
    <p>Welcome to VivaMQ, your favourite viva marking assistant! Simply start a new project, upload a file and we do the rest!</p>
</div>
<div class="columns-container">
    <div class="column">
        <h3>Number of Classes</h3>
        <p>{{class_count}}</pp>
    </div>
    <div class="column">
        <h3>Number of Assignments</h3>
        <p>{{assignment_count}}</p>
    </div>
    <div class="column">
        <h3>Number of Students</h3>
        <p>{{student_count}}</p>
    </div>
</div>


<!-- Darkmode  -->
<script>
    if (localStorage.getItem('dark-mode') === 'enabled') {
        document.body.classList.add('dark-mode');
    }
</script>
{% endblock %}
