<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VivaMQ Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="{{ url_for('static', filename='icons/MqLogo.png') }}" alt="MQ Logo" class="logo">
            <h1 style="color: #A6192E;">VivaMQ Login</h1>
            <p>Choose an option to continue:</p>
            <button onclick="redirectToOkta()" class="login-button">Login with MQ</button>
            <a href="{{ url_for('loginDirect') }}" class="admin-button">Login Normally</a>
        </div>
    </div>

    <script>
        function redirectToOkta() {
            // Replace this URL with your actual Okta login URL
            window.location.href = "https://mq.okta.com/app/mq_estudentnew_1/exkijv9d06f840gdl2p7/sso/saml";
        }

function userLogin() {
    window.location.href = "loginDirect.html";
}
</script>
</body>
</html>