<!-- frontend/templates/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VivaMQ Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="{{ url_for('static', filename='icons/MqLogo.png') }}" alt="MQ Logo" class="logo">
            <h1 style="color: #A6192E;">VivaMQ Login</h1>
            <p>Choose an option to continue:</p>
            <button onclick="redirectToOkta()" class="login-button">Login with MQ</button>
            <div class = "login-button">
                <a href="{{ url_for('loginDirect') }}">Login Normally</a>
            </div>
        </div>
    </div>
    <script>
        function redirectToOkta() {
            window.location.href = "https://your-okta-domain.com";
        }
    </script>
</body>
</html>