{% extends 'base.html' %}

{% block title %}VivaMQ New Assignment{% endblock %}

{% block content %}
<div class="welcome-box">
<h2>New Assignment</h2>
<p>This is where we create a new assignment</p>
</div> 
<div class="content-box">
<form method="post" id="login" class="create-form">
    <input type="text" id="name" name="name" placeholder="Assignment Name" required>
    <input type="text" id="desc" name="desc" placeholder="Assignment Description" required>
    <input type="text" id="ulo" name="ulo" placeholder="Assignment Learning Outcomes" required>
    <button type="submit">Create</button>
</form>


<!-- Darkmode  -->
<script>
    if (localStorage.getItem('dark-mode') === 'enabled') {
        document.body.classList.add('dark-mode');
    }
</script>
{% endblock %}