{% extends 'base.html' %}

{% block title %}VivaMQ Create Class{% endblock %}

{% block content %}
<div class="welcome-box">
    <h2>Create New Class</h2>
    <p>This is where we create a new class</p>
</div>
<div class="content-box">
    <form method="post" id="createClassForm" class="create-form">
        <input type="text" id="name" name="name" placeholder="Unit Name" required>
        <input type="text" id="code" name="code" placeholder="Unit Code" required>
        <button type="submit">Create</button>
    </form>
</div>

<!-- Darkmode  -->
<script>
    if (localStorage.getItem('dark-mode') === 'enabled') {
        document.body.classList.add('dark-mode');
    }
</script>
{% endblock %}
