{% extends 'base.html' %}

{% block title %}New Project - VivaMQ{% endblock %}

{% block content %}
    <div class="welcome-box">
        <h2>Viva for {{ assignment_name }}</h2>
    </div>
    <form action="{{ url_for('new_project') }}" enctype="multipart/form-data" method="post" class="create-form">
    <div class="columns-container">
        <div class="column">
            <h3>Generic Questions</h3>
            <p>{{generic_questions}}</p>
        </div>
        
        <div class="column">
            <h3>Use our AI Tool</h3>
            <p>Upload a document and generate some questions below. Max file size is 1.25MB. </p>
            <input type="file" name="pdf_file" accept=".pdf" required>
            <label for="student">Assign a Student:</label>
            <select name="student" id="student" required>
                <option value="">Select a student</option>
                {% for student in students %}
                    <option value="{{ student.student_id }}">{{ student.first_name }} {{ student.last_name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="small-button"><h3><strong>Upload</strong></h3></button>
        </div>
    </div>
    </form>

<!-- Darkmode  -->
<script>
    if (localStorage.getItem('dark-mode') === 'enabled') {
        document.body.classList.add('dark-mode');
    }
</script>

{% endblock %}