{% extends 'base.html' %}

{% block title %}VivaMQ Create Class{% endblock %}

{% block content %}
<div class="welcome-box">
    <h2>Create New Rubric</h2>
    <p>This is where we create a new rubric</p>
</div>
<div class="content-box">
    <form method="post" id="createForm" class="create-form">
        <input type="text" id="overview" name="overview" placeholder="Project Overview" required>
        <input type="text" id="criteria" name="criteria" placeholder="Criteria" required>
        <input type="text" id="topics" name="topics" placeholder="Topics" required>
        <input type="text" id="goals" name="goals" placeholder="Goals" required>
        <button type="submit">Create</button>
    </form>
</div>

<!-- Darkmode  -->
<script>
    if (localStorage.getItem('dark-mode') === 'enabled') {
        document.body.classList.add('dark-mode');
    }
</script>
{% endblock %}
