{% extends 'base.html' %}

{% block title %}VivaMQ Rubrics{% endblock %}

{% block content %}
<div class="welcome-box">
    <h2>Rubrics</h2>
    <p>This is where we display the rubrics</p>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>
<div class="content-box">
    {% if rubrics %}
    <table>
        {% for x in rubrics.data[0].rubric_json %}
        <div class="qa-pair">
            <div class="question">
                <b>Criteria:</b> {{ x.criteria }} <br> <br>
                <b>Fail:</b> {{ x.fail }} <br>
                <b>Pass:</b> {{ x.pass }} <br>
                <b>Credit:</b> {{ x.credit }} <br>
                <b>Distinction:</b> {{ x.distinction }} <br>
                <b>High Distinction:</b> {{ x.high_distinction }}
            </div>
        </div>
        {% endfor %}
    </table>
    {% else %}
    <p class="placeholder-text">The rubric could not be found :<</p>
    {% endif %}
    <div class="add-button">
        <a href="{{ url_for('export_pdf', class_id=class_id, assignment_id=assignment_id) }}" id="add-submission-button">
            Download Rubric
        </a>
    </div>
</div>

<!-- Darkmode  -->
<script>
    if (localStorage.getItem('dark-mode') === 'enabled') {
        document.body.classList.add('dark-mode');
    }
</script>
{% endblock %}