{% extends 'base.html' %}

{% block title %}VivaMQ Settings{% endblock %}

{% block content %}
<div class = "welcome-box">
<h2>Settings</h2>
<p>This is where you can manage your settings.</p>
</div>
<div class="content-box">
    <div class="settings-header user-settings">User settings</div>
    <div class="settings-header site-settings">Site settings</div>
    <div class = "add-button">
    <a>Reset Password</a>
    </div>
    <div class = "add-button">
    <a>Dark Mode</a>
    </div>
</div>
{% endblock %}
