{% extends 'base.html' %}

{% block title %}Unit - {{ request.args.get('class', '') }} - VivaMQ{% endblock %}

{% block content %}
<h2>{{ request.args.get('class', '') }}</h2>
<div class="classMgmtcontent">
    <div class="assignments-section">
        <h2></h2>
        <div id="assignments-list" class="assignments-list">
            <div class="placeholder-text">There are no assignments for this class.</div>
        {% for assignment in assignments %}
            <a>{{ assignment['name'] }}</a>
        {% endfor %}
        </div>
        <div class="new-item-bar">
            <a id="add-assignment-button" href="{{ url_for('newAssignment', class_id=request.args.get('class', ''))}}">Add Assignment</a>
        </div>
    </div>

    <div class="students-section">
        <h2></h2>
        <div id="students-list" class="students-list">
            <div class="placeholder-text">There are no students for this class.</div>
        {% for student in students %}
            <a>{{ student['first_name'] }} {{ student['last_name'] }}</a>
        {% endfor %}
        </div>
        <div class="new-item-bar">
            <a id="add-student-button" href="{{ url_for('newStudent')}}">Add Student</a>
        </div>
    </div>
</div>
{% endblock %}